html {
  background-color: #ecf0f1;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 2em;
}

p {
  margin: 0;
}

span {
  background-color: #e74c3c;
  width: 23px;
  height: 23px;
  text-align: center;
  border-radius: 4px;
  padding: 0.25em;
}

.list {
  margin-top: 1em;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27ae60;
  margin-bottom: 0.5em;
  width: 13em;
  padding: 0.5em;
  border-radius: 4px;
}

.done {
  text-decoration: line-through;
}
